#product-section {
    h1 {
        font-family: $roboto;
        font-size: 22px;
        font-style: italic;
        font-weight: 900;
        color: $color-dark-grey;
        margin-left: 25px;
        margin-bottom: 30px;
    }
}