@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

//Typografi
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;

//Colors
$color-dark-grey: #333333;
$color-light-blue: #26d2fc;
$color-yellow: #faef03;
$color-orange: #fb4d01;
$color-bg: #f8f8f8;